/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

/* Variáveis */
:root {
    --background-color: #915826;
    --elements-color: #2C2828;
    --text-primary-color: #FFFFFF;
}

body {
    background-color: var(--background-color);
}

/* Estilização da Navbar*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--elements-color);
    opacity: 75%;
    width: 98%;
    height: 4rem;
    border-bottom-right-radius: 7.5px;
    border-top-right-radius: 7.5px;
    margin: 1rem 0 0 0;
}

.cabecalho__titulo {
    color: var(--text-primary-color);
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0 0 0 7.5px;
}

.cabecalho__sidebar__button img {
    height: 70%;
    width: 70%;
    padding: 0 7.5px 0 0;
}

/* Estilização da main*/

    /* Estilização da searchbar */
.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 0 0;
    height: 6rem; 
    width: 100%;
}

.searchbar__form {
    height: 80%;
    width: 40%;
}

.searchbar__form__input {
    background-color: var(--elements-color);
    opacity: 75%;
    height: 70%;
    width: 100%;
    border-radius: 50px;
    padding: 1rem 1rem 1rem 1rem;
}

.searchbar__form__input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar__form__input::placeholder {
    font-size: 20px
}

/* Estilização Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -260px; /* <-- Agora escondida à direita */
    width: 250px;
    height: 100vh;
    background-color: var(--elements-color);
    opacity: 90%;
    color: var(--text-primary-color);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    right: 0; /* <-- Move para dentro da tela */
}

.sidebar__close {
    background: none;
    border: none;
    color: var(--text-primary-color);
    font-size: 28px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.sidebar__menu {
    list-style: none;
    padding: 50px 0 0;
}

.sidebar__menu li {
    margin: 20px 0;
}

.sidebar__menu a {
    color: var(--text-primary-color);
    text-decoration: none;
    font-size: 18px;
}

.sidebar__menu a:hover {
    text-decoration: underline;
}

/* Estilização do Rodapé */

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--elements-color);
    opacity: 75%;
    width: 100%;
    height: 6rem;
    position: fixed;
    bottom: 0;
}

.rodape__logo__texto {
    color: var(--text-primary-color);
}
 
.rodape__links a {
    display: flex;
    justify-content: center;
    align-items: center;
}