.Header-container {
  margin-top: 0.5rem; 
  padding: 1rem;
  height: 3rem;
  width: 96vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #916D42;
  border-radius: 13px;
}

.Header-titulo {
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}